body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: bolder;
    width: 700px;
    margin: auto;
    background-color: #f7f8fa;
  }

  p {
    color: black
  }

  .meu-gatinho1,
  .meu-gatinho3 {
    background-color: #e0e4ec;
    padding: 10px;
    border-radius: 2px;
  }
  
  .meu-gatinho3 {
    border: 1px solid #050505;  
  }
  
  h3 {
    color: #4d4c4c;
    font-weight: bolder;
  }
  
  table {
    border: 1px solid black;
    width: 550px;
    height: 100px;
    padding: 0;
    font-size: 20px;
    margin: auto;
  }
  
  td {
    width: 400px;
    height: 30px;
    margin: auto;
  }
  
  .pag {
    text-align: right;
    font-size:x-small;
  }
  
